<div class="inline">
  <img class="img-left" src="/assets/images/DeltaControls.jpg" />
  <div>
    <h1 class="title">ATS (Applicant Tracking System)</h1>
    <p class="description">
      <a href="https://github.com/bstusiak/Delta-ATS-FrontEnd">
        https://github.com/bstusiak/Delta-ATS-FrontEnd
      </a>
      <a href="https://github.com/bstusiak/Delta-ATS-BackEnd">
        https://github.com/bstusiak/Delta-ATS-BackEnd
      </a>
    </p>
    <p class="description">
      Software engineer intern at Delta Controls to design and build an ATS to
      improve the hiring process. Full-stack Web App made with ReactJS and an
      ExpressJS backend.
    </p>
    <ul class="description-list">
      <li>Designed the project architecture and data organization.</li>
      <li>Implemented Agile methodology and weekly sprints.</li>
      <li>
        Collaborated with Github, and wrote unit tests ensure correct operation.
      </li>
      <li>Creates, stores, and manages accounts in a PostgreSQL database.</li>
    </ul>
  </div>
</div>
