.inline {
  width: min(1200px, 90vw);
  display: flex;
  padding: 5px;
  justify-content: center;
  margin: 0px auto;
}
.img-left {
  width: min(400px, 80vw);
  margin: auto 15px;
}
.title {
  margin: 10px 10px 10px 30px;
  font-size: min(30px, 6.5vw);
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  text-align: left;
}
.description {
  margin: 5px 10px 10px 30px;
  font-size: min(17px, 4.5vw);
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  overflow: auto;
}
.description-list {
  display: block;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: left;
  margin-left: 30px;
  padding: 5px;
  font-size: min(15px, 4vw);
}
@media screen and (max-width: 850px) {
  .inline {
    display: block;
  }
  .title {
    text-align: center;
    margin: 10px auto;
    padding: 5px;
  }
  .description {
    text-align: center;
    margin: 10px auto;
    padding: 5px;
  }
  .description-list {
    display: inline-block;
    margin: 5px;
    padding-left: 15px;
  }
}
