.form {
  max-width: 500px;
  margin: 10px auto;
}
.email {
  display: block;
  width: 75%;
  height: 40px;
  margin: 10px;
  padding-left: 5px;
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.email::placeholder {
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.subject {
  display: block;
  width: 95%;
  height: 40px;
  margin: 10px;
  padding-left: 5px;
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.subject::placeholder {
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.body {
  display: block;
  width: 95%;
  height: 200px;
  margin: 10px;
  padding-left: 5px;
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.body::placeholder {
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.email.ng-invalid {
  border: 2px solid rgb(14, 32, 92);
}
.email.ng-valid {
  border: 2px solid lawngreen;
}
.subject.ng-invalid {
  border: 2px solid rgb(14, 32, 92);
}
.subject.ng-valid {
  border: 2px solid lawngreen;
}
.body.ng-invalid {
  border: 2px solid rgb(14, 32, 92);
}
.body.ng-valid {
  border: 2px solid lawngreen;
}
.hover {
  display: flex;
  width: min-content;
}
.btn-primary {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(14, 32, 92);
  border: rgb(14, 32, 92);
  display: block;
  margin: 10px;
  z-index: 0;
}
.alert {
  visibility: hidden;
  text-align: left;
  margin: 0px 0px 0px 10px;
  padding: 5px;
  position: absolute;
  margin-left: 140px;
  z-index: 1;
  color: red;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: smaller;
  border: 2px solid red;
}
.hover:hover .alert {
  visibility: visible;
}
.alert:empty {
  display: none;
}
.info {
  display: flex;
  width: min(1200px, 95vw);
  margin: 10px auto;
  font-family: "Lucida Console", "Courier New", monospace;
  justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
  .info {
    display: inline;
  }
}
