<form [formGroup]="contactForm" class="form">
  <form ngNoForm action="https://formspree.io/f/xnqrgjvd" method="POST">
    <input
      type="email"
      name="_replyto"
      formControlName="email"
      placeholder="Enter Your Email"
      class="email"
    />
    <input
      type="text"
      name="subject"
      formControlName="subject"
      placeholder="Subject"
      class="subject"
    />
    <textarea
      name="body"
      formControlName="body"
      type="text"
      placeholder="Body"
      class="body"
    ></textarea>
    <span class="hover">
      <input
        style="display: block"
        [disabled]="!contactForm.valid"
        type="submit"
        value="Send"
        class="btn btn-primary"
      />
      <div class="alert">
        <div *ngIf="email?.invalid">*Enter a valid email</div>
        <div *ngIf="subject?.invalid">*Enter a subject</div>
        <div *ngIf="body?.invalid">*Fill out the body</div>
      </div>
    </span>
  </form>
</form>
<br />
<div class="info">
  <div>
    <a href="mailto:williambsong@gmail.com">williambsong@gmail.com</a>
  </div>
  <div>
    <a href="https://github.com/pojj">https://github.com/pojj</a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/william-song-523a10253/"
      >https://www.linkedin.com/in/william-song-523a10253/
    </a>
  </div>
</div>
