<main>
  <ul id="nav-bar">
    <img class="logo" src="/assets/images/ws.png" href="https://youtube.com" />
    <li class="nav-button"><a href="#about">About&nbsp;Me</a></li>
    <li class="nav-button"><a href="#experience">Experience</a></li>
    <li class="nav-button"><a href="#projects">Projects</a></li>
    <li class="nav-button"><a href="#contact">Contact</a></li>
  </ul>

  <div class="content" id="about">
    <h1 class="name">WILLIAM SONG</h1>
    <div class="profile">
      <img class="face-picture" src="/assets/images/me2.jpg" />
      <p class="description">
        Hi! I am William Song, a student in my grade 12 high school year. I love
        all nearly every aspect of technology and the internet.<br /><br />
        I strive to explore the endless possiblities that technology provides.
        <br /><br />
        <a href="assets/CV.pdf">
          <button type="button" class="btn btn-primary btn-lg">
            My Resume
          </button>
        </a>
      </p>
    </div>
  </div>
  <div class="content" id="experience">
    <h1 class="heading">My Experience</h1>
    <div class="inline">
      <img class="logo-img-1" src="/assets/images/DeltaControls.png" />
      <div>
        <h1 class="experience-title">ATS (Applicant Tracking System)</h1>
        <p class="experience-description">
          Six person group work experience placement to design and build an ATS
          for a local company to manage and contact applicants. Full-stack Web
          App made with ReactJS and an ExpressJS backend.
        </p>
        <ul class="description-list">
          <li>Designed the project architecture and data organization.</li>
          <li>Implemented Agile methodology and weekly sprints.</li>
          <li>
            Creates, stores, and manages accounts in a PostgreSQL database.
          </li>
          <li>
            Collaborated with Github, and wrote unit tests ensure correct
            operation.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content" id="projects">
    <h1 class="heading">My Projects</h1>
    <>
  </div>
  <div class="content" id="contact">
    <h1 class="heading">My Contact</h1>
    <>
  </div>
</main>
