<div class="parallax">
  <ul id="nav-bar">
    <img class="logo" src="/assets/images/amongus.jpg" />
    <li class="nav-button"><a href="#about">About&nbsp;Me</a></li>
    <li class="nav-button"><a href="#experience">Experience</a></li>
    <li class="nav-button"><a href="#projects">Projects</a></li>
    <li class="nav-button"><a href="#contact">Contact</a></li>
  </ul>

  <div class="content" id="about">
    <h1 class="name">WILLIAM SONG</h1>
    <div class="profile">
      <img class="face-picture" src="/assets/images/tony.png" />
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
        doloribus praesentium accusamus veniam laborum, impedit error quisquam
        deleniti ipsum, quas nemo quo nesciunt perferendis voluptatum aliquam
        nobis hic sit. Ipsam!
      </p>
    </div>
  </div>
  <div class="content" id="experience">experience</div>
  <div class="content" id="projects">programs</div>
  <div class="content" id="contact">contact</div>
  <h1>end</h1>
</div>
